body{
    margin: 0;
    padding: 0; 
}
.container-fluid{
   text-align: center;
    background-image: url(../Bora-Bora.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2em;
}
.page{
    margin-top: 10%;
}
